.contentApprenant {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.containerApprenant {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
}

.cardApprenant {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.face02 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  top: -400px;
  position: absolute;
  transition: all ease .6s;
  color: #f4f1f0;
  background-color: #113B5b;
}

.face02 .promotions {
  text-align: center;
}

.face02 a{
  color: #ffcc1d;
}

.face01 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all ease .6s;
}

.cardApprenant:hover .face01 {
    top: 400px;
}

.cardApprenant:hover .face02 {
    top: 0px;
}

.imgApprenant {
  height: 300px;

}

.imgApprenant img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* section apprenants*/
.basCardFace01 {
    background-color: #ffcc1d;
    color: #113B5b;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}


.coordoneesApprenant {
    display: flex;
    padding: 8px;
    margin: 0 8px 0 8px;


}
.coordoneesApprenant p {
    padding: 8px;
    margin: 0 8px 0 8px; 
}

.competences {
  display: flex;
  padding: 8px;
  margin: 0 8px 0 8px;
  justify-content: space-around;
  font-weight: 800;
  width: 200px;
}
.liens {
    display: flex;
    justify-content: space-around;
}

.liens a {
    margin: 6px;
    text-decoration: none;
}

.liens a:hover {
  color: #f4f1f0;
  font-size: 22px;
}

.textApprenant {
    padding: 12px;
    overflow: hidden;
    font-size: 14px;
}