* {
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

/* header bandeau et image+texte
    STOP au position absolue*/
header {
    background-color: #113b5b;
    color: #f4f1f0;
    height: 10 vh;
    width: 100%;
    /*display: flex;
    justify-self: center;
    align-items: center;*/
    border-bottom: 3px solid white;
    position: fixed;
    top: 0;
    z-index: 1;
}

header img {
    width: 80px;
    height: 40px;
}

.bandeauTexteImage {
    background-image: url(./images/p2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-color: rgba(17,59,91,0.5);
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f1f0;
}

.bandeauTexte {
    font-size: 52px;
    color:#FFCC1D;
}

/*bandeau recherche*/

.recherche {
    background-color:#113b5b ;
    color: #f4f1f0;
    clip-path: polygon(100% 0, 100% 48%, 0% 72%, 0% 0%);
    height: 34vh;
    
}

.recherche h3 {
    color: #FFCC1D;
    text-align: center;
    padding-top: 16px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.searchbar input, .searchbar select, .searchbar button {
    width: 140px;
    height: 40px;
}


 @media screen and (max-width: 1024px) {

    header img {
        width: 80px;
        height: 40px;
        padding-left: 28px;
    }
    .bandeauTexteImage h1{
        font-size: 38px;
        padding: 12px;
    }

    .recherche h3 {
        font-size: 12px;
        padding: 8px;
    }

    .searchbar{
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    }

    .recherche {
        background-color:#113b5b ;
        color: #f4f1f0;
        clip-path: polygon(100% 0, 100% 48%, 0% 200%, 0% 0%);
        height: 40vh;
       
    }

} 

 @media screen and (max-width: 768px) {

    header img {
        width: 80px;
        height: 40px;
        padding-left: 28px;
    }
    .bandeauTexteImage h1 {
        font-size: 38px;
        padding: 12px;
    }

    .recherche h3 {
        font-size: 12px;
        padding: 8px;
    }

    .searchbar{
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    }

    .recherche {
        background-color:#113b5b ;
        color: #f4f1f0;
        clip-path: polygon(100% 0, 100% 48%, 0% 200%, 0% 0%);
        height: 40vh;
       
    }

} 

@media screen and (max-width: 425px) {

    header img {
        width: 80px;
        height: 40px;
        padding-left: 36px;
    }
    .bandeauTexteImage h1{
        font-size: 36px;
        padding-left: 26px;
    }

    .recherche h3 {
        font-size: 12px;
        padding: 8px;
    }

    .searchbar{
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    }

    .recherche {
        background-color:#113b5b ;
        color: #f4f1f0;
        clip-path: polygon(100% 0, 100% 48%, 0% 200%, 0% 0%);
        height: 40vh;
       
    }

}



